#section{
    display: flex;
    justify-content: space-evenly;

}
#section summary{
    margin-top: 20%;
}
#section a{
    margin-top: 1.5%;
}
#section a{
    color: rgb(74, 169, 246);
}
 #img1 img{
    width: 15%;
    height: 10%;
}
#section2 h1{
    margin-left: 10%;
    color: rgb(184, 180, 180);
}
#section2 h4{
    margin-left: 10%;
    color: rgb(184, 180, 180);
}
#img2 img{
    width: 40%;
    height: 50%;
    margin-left: 60%;
    border-radius: 5%;
}
.Try{
    background-color: rgb(58, 91, 200);
    width: 15%;
    height: 7%;
    border:none;
    outline:none;
    color:lightgray;
    margin-left: 15%;
    cursor: pointer;

     
}
#section3 a{
   color: rgb(19, 145, 218);

}
