body{
    background-image: linear-gradient(rgb(218, 10, 96),rgb(0, 73, 207));
}
.Master{
    text-align: center;
    color: white;
}
form{
    background-color: white;
    width: 40%;
    margin-left: 30%;
    height: 80%;
}
#Sign{
    margin-left:4%;
}
.h3 h3{
    margin-left: 4%;
    color:rgb(184, 181, 181)
}
.F{
    height: 5%;
    width: 22%;
    background-color:rgb(42, 21, 224);
    margin:auto;
    border:none;
    outline:none;
    margin-left: 25%;

}
.G{
    height: 5%;
    width: 22%;
    background-color: rgb(199, 36, 36);
    margin: auto;
    border: none;
    outline: none;
}
hr{
    margin-left: 4%;
    margin-right: 4%;
}
.div input{
    margin-left: 5%;
    width: 45%;
    height: 8%;
    outline:none;
}
.divler input{
    margin-left: 5%;
    width: 45%;
    height: 8%;
    outline:none;
}
.Rem{
    border: none;
    outline: none;
    margin-left:5%;
}
.sign input{
    width: 45%;
    height: 8%;
    background-color: blueviolet;
    color:white;
    border-radius: 2%;
    border: none;
    outline: none;
    margin-left: 20%;
}
#Have h3{
    margin-left: 5%;
    color:rgb(151, 146, 146);
}
#Have a{
    color:rgb(44, 185, 228);
}
